* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    width: 100vw;
    padding: 0 20px;
}

.header__titulo {

}

.header__menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

li {

}

a {

}